<div fxLayout="column" class="about-container">
  <div fxFlex class="aboutHeadInner">
    <h1>About</h1>
  </div>
</div>
  
  
  <div fxLayout="column" class="about-container">
    <div fxFlex>
  <mat-card mat-elevation-z0>
    <mat-card-content>
      <div fxLayout="column" fxLayoutAlign="space-evenly center" class="homeMainContainer">
        <div fxFlex>
          <mat-list>
            
          <h3>Who and What?</h3>
          
          <p>
            <strong>Nodebucket is task management software</strong> created by individuals who found themselves needing an application to manage tasks from start to finish. It all began when the nodebucket team members were working for a small non-profit start up organization. The organization had several projects and initiatives going on at any given time.
          </p>
          <mat-divider [inset]="true"></mat-divider>
          <h3>The Problem:</h3>
          <p>
            The issue the team ran into was that they weren’t executing projects on time, losing track of initiatives, and failing to follow up on potential leads that would help their non-profit organization. For a small start-up non-profit, this is unacceptable as every little lead, project, and initiative attributes to the organization’s growth. Even the smallest of misses are felt.
          </p> 
          <p>
            So what was the root cause? Leadership conducted a roundtable to get an idea of what the team’s paint points were. In this roundtable, each team member had a chance to speak on topics that were attributing to these business issues. After each team member had provided feedback, it was apparent that the main issue was the team was extremely unorganized. <strong>Team members were often keeping track of initiatives through text messages, post it notes, and by memory.</strong> All of these factors attributed to the issues the business was experiencing.
          </p>
          <mat-divider [inset]="true"></mat-divider>
          <h3>Our Solution:</h3>
          <p>
            With the business issues and root cause identified, <strong>leadership decided to have their technical team members create an application for managing software.</strong> This software allowed functionality for them to create, delete, and sort tasks in a ToDo and done lists. While development of this project only took four week’s, the benefits of this program were immediately recognized. This application gave the team a tool for tracking just about anything that happened in the business. 
            The end result is now the team is able to keep each initiative or follow up item tasked. 
          </p>
          <p align="end">
            -Jane Doe (CEO)
          </p>
        </mat-list>
        </div>
        </div>
    </mat-card-content>
  </mat-card>
</div>
  </div>

  