
<!--button for creating task-->
<div fxLayout="column" class="create-task-container">
  <div fxFlex>
    <div class="title" fxLayout="column">
      <h1>Nodebucket</h1><br />
      <p>- Task Management Software -</p>
    </div>
</div>
<br />
  <div fxFlex>
        <button mat-raised-button 
                color="accent"
                class="createTaskButton"
                (click)="openCreateTaskDialogue()">Create Task</button>
  </div>
</div>
<br />


<!--BEGIN main container for kanban-->

<!--outer card-->
  <mat-card class="mat-elevation-z8 main-outer-card">
    <mat-card-content>

<!--main control for controlling layout/responsiveness task containers-->
      <div fxLayout="row wrap" 
           layout-xl="column" 
           layout-lg="column"
           layout-sm="column"
           fxLayoutGap="25px" 
           fxLayoutAlign="space-evenly center" 
           class="">
    
        <!--TODO container-->
      <div fxFlex 
           fxFlexAlign="start" 
           class="example-container">
        <h3>TODO</h3>
          <mat-card class="mat-elevation-z8">
                  <mat-card-content>
                    <div
                    cdkDropList
                    #todoList="cdkDropList"
                    [cdkDropListData]="todo"
                    [cdkDropListConnectedTo]="[doneList, doingList]"
                    class="example-list"
                    (cdkDropListDropped)="drop($event)">
                    <div class="example-box" *ngFor="let item of todo" cdkDrag>
                      <mat-card class="mat-elevation-z0 taskCard">
                        <mat-card-content>
                          <div fxLayout="row">
                            <div fxFlex>
                              Task:<br />
                              <span class="taskItem">{{item.text}}</span> 
                            <button class="deleteButton" (click)="deleteTask(item._id)">
                              <mat-icon aria-hidden="false" aria-label="delete button">delete_forever</mat-icon>
                            </button>
                            </div>
                        </div>
                        </mat-card-content>
                      </mat-card>
                    </div>
                  </div>  
                  </mat-card-content>
                </mat-card>
        
              </div>
      

  <div fxFlex 
       fxFlexAlign="start" 
       class="example-container">
  <h3>DOING</h3>
    <mat-card class="mat-elevation-z8">
            <mat-card-content>
              <div
              cdkDropList
              #doingList="cdkDropList"
              [cdkDropListData]="doing"
              [cdkDropListConnectedTo]="[doneList, todoList]"
              class="example-list"
              (cdkDropListDropped)="drop($event)">
              <div class="example-box" *ngFor="let item of doing" cdkDrag>
                <mat-card class="mat-elevation-z0 taskCard">
                  <mat-card-content>
                    <div fxLayout="row">
                      <div fxFlex>
                        Task:<br />
                        <span class="taskItem">{{item.text}}</span> 
                      <button class="deleteButton" (click)="deleteTask(item._id)">
                        <mat-icon aria-hidden="false" aria-label="delete button">delete_forever</mat-icon>
                      </button>
                      </div>
                  </div>
                  </mat-card-content>
                </mat-card>
              </div>
            </div>  
            </mat-card-content>
          </mat-card>
  
        </div>
  
  
        <div fxFlex fxFlexAlign="start" class="example-container">
          <h3>DONE</h3>
          <mat-card class="mat-elevation-z8">
              <mat-card-content>
                <div
              cdkDropList
              #doneList="cdkDropList"
              [cdkDropListData]="done"
              [cdkDropListConnectedTo]="[todoList, doingList]"
              class="example-list"
              (cdkDropListDropped)="drop($event)">
              <div class="example-box" *ngFor="let item of done" cdkDrag>
                <mat-card class="mat-elevation-z0 taskCard">
                  <mat-card-content>
                    <div fxLayout="row">
                      <div fxFlex>
                        Task:<br />
                        <span class="taskItem">{{item.text}}</span> 
                      <button class="deleteButton" (click)="deleteTask(item._id)">
                        <mat-icon aria-hidden="false" aria-label="delete button">delete_forever</mat-icon>
                      </button>
                      </div>
                  </div>
                  </mat-card-content>
                </mat-card>
              </div>
            </div>
              </mat-card-content>
            </mat-card>
          </div>
</div>
    </mat-card-content>
  </mat-card>