    <mat-toolbar >
      <img src="./assets/logo.png" class="brandLogo">
    </mat-toolbar>

<div fxLayout="column">
    <!--
    <div fxFlex *ngIf="error">
        {{ error }}
    </div>
    -->
    <div fxFlex>
    <mat-card class="mat-elevation-z8 signin">
        <mat-card-title>
            Log In
        </mat-card-title>

        <mat-card-subtitle>
            <!--You must enter a valid employeeId to proceed.-->
        </mat-card-subtitle>
        <mat-card-content>
            <div class="msg-error" *ngIf="error">
             <!--{{error}}-->   
            </div>
            <mat-card class="mat-elevation-z0" fxLayout="column" fxLayoutGap="10px">
                <form [formGroup]="form" (ngSubmit)="login(); form.reset();">
                    <mat-card-content>
                        <mat-form-field>
                            <input matInput
                                    [formControl]="form.controls['empId']"
                                    placeholder="EmployeeID" />
                        <!---
                            <mat-error *ngIf="form.controls['empId'.hasError('required')">
                                EmployeeID is a required field
                            </mat-error>
                        -->
                        </mat-form-field>
                    </mat-card-content>
                        <mat-card-actions align="end">
                        <button type="submit" fxFlex mat-raised-button color="primary" [disabled]="!form.valid">Sign-in</button>
                        </mat-card-actions>
                </form>
            </mat-card>
            </mat-card-content>
        </mat-card>
        <p  
        [ngStyle.xs]="{'font-size.px': 50}"
        [ngStyle.sm]="{'font-size.px': 60}"
        [ngStyle.md]="{'font-size.px': 80}">
        <span class="nodeStyle">N</span>odebucket <span class="nodeStyle">L</span>ogin</p>
</div>
</div>