.signin.mat-card{
    width: 40%;
    margin: 12% auto;
    margin-bottom: 70px;
}

.signin > mat-card-title, mat-card-subtitle, mat-card-content {
    text-align: center;
}

p {
    text-align: center;
    font-size: 80px;
    color: white;
}

.nodeStyle{
    color: #ffd740;
}

.brandLogo{
    width: 70px;
}

mat-card {
    padding-top: 20px;
    padding-bottom: 1px;
}

mat-toolbar {
    background-color:#607d8b;
}