<div fxLayout="column">
    <!-- navigation -->
    <nav fxFlex>
      <mat-toolbar >
        <img src="./assets/logo.png" class="brandLogo">
        <button class="navbar-link" routerLink="/" mat-button>Home</button>
          <button class="navbar-link" mat-button>About</button>
        <span class="nav-spacer"></span>
        <button class="navbar-link" mat-button (click)="singOut()" align="end">Sign Out</button>
      </mat-toolbar>
    </nav>

  
    <!-- main content -->
    <div fxFlex class="main-content">
      <main class="main-content" fxFlex="100%;">
        <router-outlet></router-outlet>
      </main>
    </div>
  
    <!-- footer -->
    <div fxFlex>
      <footer class="footer">
        <mat-toolbar class="footer-content">
          <p>
            &copy; {{year | date: 'yyyy'}} - nodebucket - <a href="https://www.bellevue.edu/" class="bu-link" target="_blank">Bellevue University</a>
          </p>
          <span class="nav-spacer"></span>
        </mat-toolbar>
      </footer>
    </div>
  
  </div>
  