<div fxLayout="column">
    <!-- navigation -->
    <nav fxFlex>
      <mat-toolbar color="primary" >
        <img src="./assets/logo.png" class="brandLogo">
        <button class="navbar-link" routerLink="/" mat-button>Home</button>
          <button class="navbar-link" routerLink="/about" mat-button>About</button>
        <span class="nav-spacer"></span>
        <button class="navbar-link" mat-button (click)="singOut()" align="end">Sign Out</button>
      </mat-toolbar>
    </nav>

  
    <!-- main content -->
    <div fxFlex class="main-content">
      <main class="main-content" fxFlex="100%;" >
        <router-outlet></router-outlet>
      </main>
    </div>
    <!-- footer -->
    <div fxFlex style="align-content: center;">
      <footer class="footerStyle">
          <p>
            &copy; {{year | date: 'yyyy'}} - Nodebucket - James Brown
          </p>
          <span class="nav-spacer"></span>
      </footer>
    </div>
  
  </div>
  